parameters:
    database_driver: pdo_mysql
    database_host: 
    database_port: null
    database_name: 
    database_user: 
    database_password: 
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 6f880a078efa0b13058b6f98a8f210226f8cc37a
    database_path: null
