.shadowed
{
	zoom: 1;
	z-index: 998;
	position: absolute;
	margin-top: 10px;
	background-color: #FFF;
	font-size: 9pt;
	/*border: 1px solid #f00;*/
} 

.shadowed .tl
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-lt.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-lt.png');
	width: 17px;
	height: 15px;
}

.shadowed .t
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: 0;
	background: url('/hostcmsfiles/images/shadow-t.png') 0 0 repeat-x !important;
	background: url('/hostcmsfiles/images/spacer.gif');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-t.png', sizingmethod='scale');
	width: 100%;
	height: 15px;
	/* border: 1px solid; */
}

.shadowed .tr
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-rt.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-rt.png');
	width: 17px;
	height: 15px;
}

.shadowed .r
{
	position: absolute;
	font-size: 0;
	top: 0;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-r.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-r.png', sizingmethod='scale');
	width: 17px;
	height: 100%;

}

.shadowed .br
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-rb.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-rb.png');
	width: 17px;
	height: 21px;
}

.shadowed .b
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: 0;
	background: url('/hostcmsfiles/images/shadow-b.png') 0 0 repeat-x !important;
	background: url('/hostcmsfiles/images/spacer.gif');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-b.png', sizingmethod='scale');
	width: 100%;
	height: 21px;
}

.shadowed .bl
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-lb.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-lb.png');
	width: 17px;
	height: 21px;
}

.shadowed .l
{
	position: absolute;
	font-size: 0;
	top: 0;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-l.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-l.png', sizingmethod='scale');
	width: 17px;
	height: 100%;
}

.shadow_tail
{
	position: absolute;
	bottom: -30px;
	// bottom: -27px;
	right: 20px;
	z-index: 100;
}

/* Плавающие блоки */
.hostcms_float_block
{
	z-index: 997 !important;
	font-family: Arial, Verdana, 'MS Sans Serif';
	position: absolute;
	opacity: 0.9;
	font-size: 8pt;
	color: #000000;
	margin: 0 !important;
	padding: 0 !important;
}

.hostcms_float_block img
{
	border: 0 !important;
}

.hostcms_float_block a:link, .hostcms_float_block a:visited, .hostcms_float_block a:hover
{
	color: #0070BD;
	text-decoration: underline;
}

.hostcms_float_block .hostcms_float_block_bl
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_bl.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_bl.png');
	width: 17px;
	height: 21px;
	bottom: -11px;
	left: -17px;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_l
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_l.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_l.png', sizingmethod='scale');
	height: 100%;
	width: 17px;
	z-index: 997;
	left: -17px;
	top: 0;
	padding: 0;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_tl
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_tl.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_tl.png');
	width: 17px;
	height: 15px;
	top: -5px;
	left: -17px;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_t
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_t.png') 0 0 repeat-x !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_t.png', sizingmethod='scale');
	width: 100% !important;
	width: auto;
	width: expression(parentElement.clientWidth + "px");
	height: 5px;
	top: -5px;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_tr
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_tr.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_tr.png');
	width: 17px;
	height: 15px;
	top: -5px;
	left: 100% !important;
	left: auto;	
	left: expression(parentElement.clientWidth + "px");
	z-index: 997;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_r
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_r.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_r.png', sizingmethod='scale');
	margin: 0px 0 0px 0;
	padding: 0px 0 0px 0;
	width: 17px;
	left: 100% !important;
	left: auto;
	left: expression(parentElement.clientWidth + "px");
	z-index: 997;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_br
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_br.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_br.png');
	height: 21px;
	width: 17px;
	bottom: -11px;
	left: 100% !important;
	left: auto;	
	left: expression(parentElement.clientWidth + "px");
	z-index: 997;
	font-size: 1px;
}

.hostcms_float_block .hostcms_float_block_b
{
	position: absolute;
	background: url('/hostcmsfiles/images/float_block_b.png') 0 0 repeat-x !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/float_block_b.png', sizingmethod='scale');
	width: 100% !important;
	width: auto;
	height: 11px;
	bottom: -11px;
	width: 100% !important;
	width: auto;
	width: expression(parentElement.clientWidth + "px");
	font-size: 1px;
}
 
.hostcms_float_block .hostcms_float_block_content
{
	position: relative;
	white-space: nowrap;
	width: auto !important;
	width: 1%;
	padding: 4px 1px 3px 9px !important;
	padding: 6px 1px 6px 9px;
	z-index: 997;
	background-color: #fff;
	margin: 0 !important;
	zoom: 1;
}

.hostcms_float_block .hostcms_float_block_drag_block
{
	position: absolute;
	height: 70%;
	width: 7px;
	float: left;
	margin-left: -5px;
	cursor: move;
	top: 15%;
	left: 2px;
	background: url('/hostcmsfiles/images/drag_bg.gif') repeat-y 2px 0;
	z-index: 997;
	font-size: 1px;
}

* .hostcms_float_block .hostcms_float_block_content img
{
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 6px !important;
	
	/*bottom: 3px !important;*/
}

.edit_block
{
	zoom: 1;
	height: 5px;
	margin-top: 0px;
	margin-left: 0px;
	width: auto !important;
	display: inline-block;
	border: 1px solid #f00;
	float: left;
}

/* Верхняя полосочка */
.topbar
{
	font-family: Arial, Verdana, 'MS Sans Serif' !important;
	color: #000000 !important;
	background-color: #f1f1f1 !important;
	height: 20px !important;
	font-size: 90% !important;
	padding: 6px 20px 0px 5px !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
	font-weight: bold !important;
}

.topbar img
{
	cursor: pointer !important;
	position: absolute !important;
	left: 100% !important;
	z-index: 1000 !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 3px !important;
	margin-left: -15px !important;
}

/* Панель в клиентском разделе */
#hostcms_layer
{
	font-family: Arial, Verdana, 'MS Sans Serif';
	color: #000;
	left: 20px;
	top: 0px;
}

#hostcms_layer a:link, #hostcms_layer a:visited, #hostcms_layer a:hover
{
	color: #0070BD;
	text-decoration: underline;
}

#div_hostcms_debug #subdiv
{
	overflow: auto;
	width: 400px;
	height: 180px;
	text-align: left;
}

#div_hostcms_debug ul
{
	margin: 0px;
}

#xml_div
{
	margin: 10px 2px 10px 2px !important;
	border: dashed 1px #aaaaaa !important;
	background-color: #fafafa !important;
	padding: 5px !important;
	color: #000 !important;
	text-align: left !important;
	font-size: 8pt !important;
	font-family: Arial !important;
}

#xml_div img
{
	padding: 0 !important;
	margin: 0 !important;
	margin-bottom: -3px !important;
}

#xml_div a:link, #xml_div a:hover, #xml_div a:visited
{
	text-decoration: underline !important;
	color: #2c7381 !important;
	font-family: Arial !important;
}

textarea.xml
{
	font-size: 9pt;
	width: 100%;
	height: 460px;
}

.shadowed #subdiv
{
	font-family: Arial, Verdana, 'MS Sans Serif', sans-serif;
	background-color: #FFFFFF;
	font-size: 100%;
	height: 92%;
	overflow: auto;
	width: 100%;
	color: #333333;
	position: relative;
	margin: 0px;
	padding: 0px;
}

#subdiv #id_content
{
	padding: 0 10px 20px 10px;
	width: auto !important;
	>width: 95% !important;
	width: 95%;
}

#subdiv a:link, #subdiv a:hover, #subdiv a:visited
{	
	text-decoration: underline;
	color: #0070BD;	
}

#subdiv ol li, #subdiv ul li
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

#subdiv acronym
{
	border-bottom: 1px dashed #C0C0C0;
	cursor: help;
}

#subdiv form
{
	margin-bottom:0;
	margin-top:0;
}

#subdiv .bg_1
{
	background-color: #F1F1F1;
	padding-left:10px;
}

#subdiv .bg_2
{
	background-color: #FF5500;
}

#subdiv .menu_over
{
	background-color: #DDDDDD;
}

#subdiv .menu_out
{
	background-color: #F1F1F1;
}

#subdiv hr
{
	border-top: 1px solid #e2d1ba;
	border-bottom: 1px solid #FFF;
	border-left: none;
	border-right: none;
	height: 0px !important;
	height: 2px;
	margin: 25px 0px 10px 0px !important;
	padding: 0px;
	margin: 0px 0px 5px 0px
}

#subdiv .div_title
{
	position: absolute;
	background-color: #ffffff;
	padding: 0px 4px 0px 4px;
	margin: -8px 0px 0px 20px;
	font-weight: bold;
}

#subdiv .div_content
{
	border: 1px solid #dddddd;
	padding: 10px 5px 10px 5px;
	height: 100%;
}

#subdiv input
{
	padding: 3px;
	vertical-align: middle;
}

#subdiv select
{
	margin: 1px;
}

#subdiv input[readonly], #subdiv .read_only_input
{
	background-color: #F9F9F9;
	color: #333333;
}

#subdiv input[type="checkbox"]
{
	padding: 1px;
	border: 0px;
}

#subdiv button
{
	font-family: Verdana, 'MS Sans Serif', Arial, sans-serif;
	border: 1px solid #777777;
	background-color:#f7f7f7;
	cursor: pointer;
	margin-right: 8px;
	color: #000000;
	font-size: 9pt;
	margin-top: 10px;
}

#subdiv button img
{
	border: 0 !important;
	margin: 2px 5px 1px 0 !important;
	vertical-align: middle !important;
}

#subdiv h1
{
	position: relative;
	font-weight: normal;
	font-size: 18pt;
	color: #000000;
	border-left: 6px solid #db1905;
	padding-bottom: 0em;
	padding-left: 34px;
	left: -40px;
	margin-top: 15px;
}

#subdiv h2
{
	color: #000000;
	font-size: 15pt;
	font-weight: normal;
	padding-top: 2pt;
	padding-bottom: 1pt;
}

#subdiv #message
{
	z-index: 1;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 25px;
	position: relative;
	font-size: 8pt;
	border-collapse: collapse;
	border: 1px #3A7E34 dashed;
	color: #3A7E34;
	background-color: #FFFFFF;
	background: url('/hostcmsfiles/images/attention.gif') no-repeat 5px 50%;
}

#subdiv #error_message
{
	z-index: 1;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 25px;
	position: relative;
	font-size: 8pt;
	border-collapse: collapse;
	border: 1px #CA1D13 dashed;
	color: #CA1D13;
	background-color: #FFFFFF;
	background: url('/hostcmsfiles/images/error.gif') no-repeat 5px 50%;
}

#subdiv .success
{
 color: #339933;
 /*font-weight: bold; */
}

#subdiv .warning
{
 color: #EBB100;
 /*font-weight: bold; */
}

#subdiv .error
{
 color: #CC0000;
 font-weight:bold;
}

#subdiv .short_title
{
	color: #000000;
	font-weight: bold;
	font-size: 110%;
}


#subdiv #index_gray_div
{
	position: relative;
/*	background-color: #F1F1F1; */
	border: 1px solid #E0E0E0;

	height: 100%;
}

#subdiv .order:link, #subdiv .order:visited, #subdiv .order:hover
{
	color: #DB1905;
	text-decoration: none;
	font-weight: bold;
}

#subdiv .order acronym
{
	border-bottom: 1px dotted #FF5500;
}

#subdiv .current
{
	font-weight: bold;
	color: #000000;
	/* background-color: #F2F0EB; */
}

#subdiv .arrow_span
{
	color: #777777;
	background-color: #FFF;
}
/* Конец стилей для show_link */


/* Стили для admin_forms_fields */
#subdiv .item_div
{
	padding-right: 10px;
	margin-bottom: 7px;
}

/* Span заголовка поля внутри закладки */
#subdiv div.item_div .caption
{
	display: block;
	margin: 0px 0px 3px 0px;
	padding: 0px;
}

/* Большое поле ввода центра администрирования */
#subdiv input.large
{
	font-size: 14pt;
}

#subdiv .arrow_path 
{
	color: #0070BD;
}

#subdiv .main_ul
{
	list-style-type: none;	
	font-family: verdana, arial, sans-serif;
	color: #303030;	
	padding: 0px;
	margin-left: 0px;	
	position: relative;
	margin-bottom: 11px;	
}

#subdiv .main_ul .shadowed
{
	/* Только для IE */
	// left: 0px;
	// top: 25px;
} 

#subdiv .main_ul a,
#subdiv .main_ul a:visited,
#subdiv .main_ul a:hover
{
	text-decoration: none;
	color: #303030;	
}

#subdiv .main_ul ul a:hover
{
	text-decoration: underline;
	color: #303030;	
}

#subdiv .main_ul img
{
	margin: 0px 4px 0px 0px !important;
}

#subdiv .li_lev_1
{
	padding: 0px 15px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 25px;
	background: url('/hostcmsfiles/images/line1.gif') repeat-x 0 100%;
	white-space: nowrap;
	padding: 0px 10px 4px 2px;
	position: relative;
}

#subdiv .li_lev_1 span
{
	cursor: pointer;
}

/* Первый UL выпадающего меню */
#subdiv .li_lev_1 div ul
{
	margin: 3px 0px 0px -2px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	
	/* Только для IE */
	// margin-left: 0px;
}

#subdiv .li_lev_1 ul img
{
	position: absolute !important;
	margin: 0px 0px 0px -25px !important;
}

#subdiv .li_lev_1 ul a
{	
	position: relative;
	left: 28px;
}
#subdiv .arrow_img
{
	position: relative;
	margin: 0px 0px 0px -24px;	
}

#subdiv .li_lev_1 ul ul
{
	position: absolute;
	border: 0px solid #CEC3A3;
	margin: 0px;	
	padding: 0px;
	top: 0px;
	left: 100%;
	border-bottom: 1px solid #CEC3A3;
	border-top: 1px solid #CEC3A3;
	background-color: #fff;
}

#subdiv .li_lev_1 ul li
{	
	padding: 4px 40px 4px 0px;
	margin: 0px;
	background-color: #fff;
}

#subdiv .div_message_error
{
	color: #777777;
	/* font-size: 90%; */
}
/* Конец стилей для admin_forms_fields */

#subdiv input[type="submit"], #subdiv input[type="button"]
{
	cursor: pointer;
}

#subdiv label
{
	position: relative;
	top: 3px !important;
	top: 0px;
}

/* Слой, который становится прозрачным. Вложен в admin_forms_fade */
#subdiv .fill_div_layer
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/* Верхняя полосочка */
#subdiv .topbar
{
	background-color: #F1F1F1;
	height: 20px;
	font-size: 90%;
	padding: 6px 0px 0px 5px;
	margin-bottom: 5px;
	padding-right: 20px;
	font-weight: bold;
}

#subdiv .topbar img
{
	cursor: pointer !important;
	position: absolute !important;
	left: 100% !important;
	z-index: 1000 !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 3px !important;
	margin-left: -15px !important;
}

/* TABs */
#subdiv #tab
{
	float: left;
	width: 100%;
	background: url("/hostcmsfiles/images/tab_top_fon_4_form.gif") repeat-x bottom;
	/*font-size:93%; */
	line-height: normal;
	margin: 0px 2px 20px 2px;
	position: relative;
}

#subdiv #tab ul
{
	margin: 0;
	padding: 10px 10px 0 7px;
	list-style: none;	
}

#subdiv #tab li
{
	float: left;
	background: url('/hostcmsfiles/images/tab_l_no_active.gif') no-repeat left top;
	margin: 0;
	padding: 0 0 0 3px;
	position: relative;
	margin-left: -3px;	
}

#subdiv #tab span
{
	float: left;
	display: block;
	background: url('/hostcmsfiles/images/tab_fon_no_active.gif') no-repeat right top;
	padding: 8px 18px 7px 12px;
	text-decoration: none;
	color: #606060;
	float: none;
	cursor: pointer;
}

#subdiv #tab .current_li
{
	background-image: url('/hostcmsfiles/images/tab_l_active.gif');
	border-width: 0;
	z-index: 2;
}

#subdiv #tab .current_li span
{
	background-image: url('/hostcmsfiles/images/tab_fon_active.gif');
	color: #262626;
	z-index: 2;
}
/* / TABs */

#subdiv .arrow_up
{
	color: #6BC500;
	font-size: 120%;
	padding-bottom: 3px;
}

#subdiv .arrow_down
{
	color: #C51200;
	font-size: 120%;
	padding-bottom: 3px;
}

#subdiv .screen
{
	border: #E1E1E1 1px solid;
	margin: 10px 0px;
}

#subdiv #gray
{
	color: #777;
}

#subdiv .table_style
{
	margin-top: 10px;
}

#subdiv .footer_logo
{
	margin-left: 10px;
	margin-right: 10px; 
}

#subdiv .left_td
{
	padding-right: 20px;
}

#subdiv .main_td
{
	padding-right: 20px;
}

#subdiv .left_td p
{
	padding-left:10px;
}

#subdiv acronym
{
	border-bottom: 1px dashed #C0C0C0;
	cursor: help;
}

#subdiv #footer_line1
{
	background: #FF5500;
	height: 2px;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
}

#subdiv #footer_line2
{
	background: #0072B2;
	height: 2px;
	overflow: hidden;
	position: relative;
	margin-top: 15px;
}

#subdiv #title
{
	background: #fbfccf;
	border: 1px solid #d9daa4;
	color: #333333;
	font: menu;
	margin:0px;
	padding:3px;
	position:absolute;
	visibility:hidden;
}

#subdiv form
{
	margin-bottom:0;
	margin-top:0;
}

#subdiv .bg_1
{
	background-color: #F1F1F1;
	padding-left:10px;
}

#subdiv .bg_2
{
	background-color: #FF5500;
}

#subdiv .menu_over
{
	background-color: #DDDDDD;
}

#subdiv .menu_out
{
	background-color: #F1F1F1;
}

#subdiv table
{
	empty-cells: show;
} 

#subdiv .admin_table_title
{
	color: #000000;
	font-weight: bold;
	text-align: left;
	height: 25px
}

#subdiv .admin_table_title td
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #EAEAEA;
	border-top: #D9D9D9 solid 1px;
	border-bottom: #D9D9D9 solid 1px;
	/*white-space: nowrap;*/
}

#subdiv .admin_table_filter td
{
	background-color: #F2F0EB;
	border-bottom: #CEC3A3 solid 1px;
	padding-right: 6px;
	padding-left: 4px;
}

#subdiv .admin_table
{
	border: 1px solid #eeeeee;
}

#subdiv .admin_table td
{
/*	height: 25px; */
	empty-cells: show;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: #dddddd;
}

#subdiv .top td, #subdiv .footer td
{
	line-height: 1.1em; 
	font-size: 7.5pt;
	padding-left: 7px;
	padding-right:7px;
	vertical-align: top;
}

#subdiv hr
{
	border-top: 1px solid #e2d1ba;
	border-bottom: 1px solid #FFF;
	border-left: none;
	border-right: none;
	height: 0px !important;
	height: 2px;
	margin: 25px 0px 10px 0px !important;
	padding: 0px;
	margin: 0px 0px 5px 0px
}

#subdiv .table_filling
{
	background-color: #555555;
	color: #ffffff;
	font-size: 8pt;
	padding-left: 7px;
	padding-right: 7px;
}

#subdiv .table_filling td
{
	color: #ffffff;
}

#subdiv .table_filling a:link, #subdiv .table_filling a:visited
{
	color: #ffffff;
	font-size: 8pt;
	margin: 0px;
	text-decoration: none;
}

#subdiv .table_filling a:hover
{	
	color: #ffffff;
	text-decoration: underline;
}

#subdiv .table_border, #subdiv .table_border td
{
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;
	border-color: #222222;
	border-style: solid;
}

#subdiv .table_border_file, #subdiv td.table_border_file
{
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;
	border-color: #eeeeee;
	border-style: solid;
	background-color: #f5f5f5;
}

#subdiv .row_table_over
{
	background-color: #E5E5E5;
}

#subdiv .row_table_over_odd
{
	background-color: #E5E5E5;
}

#subdiv .row_table
{
	background-color: #FFFFFF;
}

#subdiv .row_table_odd
{
	background-color: #F9F9F9;
}

#subdiv .Highlight_row_table
{
	background-color: #F6F4F0;
}

#subdiv .Highlight_row_table_odd
{
	background-color: #EBE8E0;
}

#subdiv .row_table td,
#subdiv .row_table_over td,
#subdiv .admin_td,
#subdiv .row_table_odd td,
#subdiv .row_table_over_odd td,
#subdiv .Highlight_row_table td,
#subdiv .Highlight_row_table_odd td
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: #dddddd;
}

#subdiv .success
{
 color: #339933;
 /*font-weight: bold; */
}

#subdiv .warning
{
 color: #EBB100;
 /*font-weight: bold; */
}

#subdiv .error
{
 color: #CC0000;
 font-weight:bold;
}

#subdiv .short_title
{
	color: #000000;
	font-weight: bold;
	font-size: 110%;
}


#subdiv #index_gray_div
{
	position: relative;
/*	background-color: #F1F1F1; */
	border: 1px solid #E0E0E0;

	height: 100%;
}

#subdiv .index_table_td
{
/*	border: 1px solid #E0E0E0; */
	color: #000000;
/*	padding: 0px 5px 0px 5px;*/
	margin: 0px;
	color: #000000;
}

#subdiv .order:link, #subdiv .order:visited, #subdiv .order:hover
{
	color: #DB1905;
	text-decoration: none;
	font-weight: bold;
}

#subdiv .order acronym
{
	border-bottom: 1px dotted #FF5500;
}

#subdiv table.no_border, #subdiv table.no_border td
{
	border: 0px;
}

/* Стили для show_link */
#subdiv .current, #subdiv .page_link, #subdiv .arrow_span
{
	/*border: 1px dashed #bbbbbb;*/
	border: 1px solid #E1E1E1;
	padding: 0.2em 0.5em 0.3em 0.5em;
	float: left;
	display: block;
	margin-right: 0.3em;
	background: #FFFFFF;
	float: left;
}

#subdiv .current
{
	font-weight: bold;
	color: #000000;
	/* background-color: #F2F0EB; */
}

#subdiv .arrow_span
{
	color: #777777;
	background-color: #FFF;
}
/* Конец стилей для show_link */

/* Большое поле ввода центра администрирования */
#subdiv input.large
{
	font-size: 14pt;
}

#subdiv .light_table, .light_table td
{
	border-collapse: collapse;
	empty-cells: show;
	border: 1px solid #E1E1E1;
}

#subdiv .from_ie
{	
	background: url(/hostcmsfiles/images/fon_li.png) repeat-y 0 0;
}

#subdiv .shadowed .tl
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-lt.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-lt.png');
	width: 17px;
	height: 15px;
}

#subdiv .shadowed .t
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: 0;
	background: url('/hostcmsfiles/images/shadow-t.png') 0 0 repeat-x !important;
	background: url('/hostcmsfiles/images/spacer.gif');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-t.png', sizingmethod='scale');
	width: 100%;
	height: 15px;
	/* border: 1px solid; */
}

#subdiv .shadowed .tr
{
	position: absolute;
	font-size: 0;
	top: -15px;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-rt.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-rt.png');
	width: 17px;
	height: 15px;
}

#subdiv .shadowed .r
{
	position: absolute;
	font-size: 0;
	top: 0;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-r.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-r.png', sizingmethod='scale');
	width: 17px;
	height: 100%;

}

#subdiv .shadowed .br
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: 100%;
	background: url('/hostcmsfiles/images/shadow-rb.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-rb.png');
	width: 17px;
	height: 21px;
}

#subdiv .shadowed .b
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: 0;
	background: url('/hostcmsfiles/images/shadow-b.png') 0 0 repeat-x !important;
	background: url('/hostcmsfiles/images/spacer.gif');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-b.png', sizingmethod='scale');
	width: 100%;
	height: 21px;
}

#subdiv .shadowed .bl
{
	position: absolute;
	font-size: 0;
	top: 100%;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-lb.png') 0 0 no-repeat !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-lb.png');
	width: 17px;
	height: 21px;
}

#subdiv .shadowed .l
{
	position: absolute;
	font-size: 0;
	top: 0;
	left: -17px;
	background: url('/hostcmsfiles/images/shadow-l.png') 0 0 repeat-y !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hostcmsfiles/images/shadow-l.png', sizingmethod='scale');
	width: 17px;
	height: 100%;
}

#subdiv .admin_form_action img
{
	padding: 0 !important;
	margin: 0px !important;
}

#subdiv .admin_form_action_link:link, #subdiv .admin_form_action_link:hover, #subdiv .admin_form_action_link:visited
{
	color: #000000;
	margin-right: 10px;
	font-size: 9pt;
}

#subdiv .admin_form_action_alert_link:link, #subdiv .admin_form_action_alert_link:hover, #subdiv .admin_form_action_alert_link:visited
{
	color: #DB1905;
	margin-right: 10px;
	font-size: 9pt;
}

#subdiv input.calendar_field
{
	padding-right: 17px;
	background: url('/hostcmsfiles/images/calendar.gif') no-repeat 100% 50% #FFFFFF;
}

#subdiv * html #header
{
	height: 1%; /* So IE plays nice */
}

.sql_q, .sql_qd 
{
	font-size: 8pt;
	background-color: #F6F7EF;
	border: 1px dashed #98D800;
	white-space: pre;
	padding: 2px;
	color: #000;
}

.sql_qd
{
	background-color: #F8EEE7;
	border: 1px dashed #D80000;
}

#subdiv .sql_t, #subdiv .sql_t a:link, #subdiv .sql_t a:hover, #subdiv .sql_t a:visited
{
	font-size: 8pt;
	color: #555;
}

.sql_db
{
	font-size: 8pt;
	color: #777;
	white-space: pre;
	display: none;
}

table.sql_explain
{
	empty-cells: show;
	margin: 1px;
}

table.sql_explain, table.sql_explain td
{
	border: 1px solid #AAA;
	border-collapse: collapse;
}

table.sql_explain td
{
	padding: 0px 2px;
	font-size: 8pt;
	color: #333;
}